Repository apache/fineract, pull requests merged in 2020-08, with the labels that each got.

#1103 FINERACT-1116 add release onhold interop transaction
  fineract-provider/src/main/java/org/apache/fineract/infrastructure/core/data/CommandProcessingResult.java
  fineract-provider/src/main/java/org/apache/fineract/interoperation/data/InteropAccountData.java
  fineract-provider/src/main/java/org/apache/fineract/interoperation/data/InteropIdentifierData.java
  fineract-provider/src/main/java/org/apache/fineract/interoperation/domain/InteropIdentifier.java
  fineract-provider/src/main/java/org/apache/fineract/interoperation/domain/InteropIdentifierRepository.java
  fineract-provider/src/main/java/org/apache/fineract/interoperation/domain/InteropTransferActionType.java
  fineract-provider/src/main/java/org/apache/fineract/interoperation/serialization/InteropDataValidator.java
  fineract-provider/src/main/java/org/apache/fineract/interoperation/service/InteropService.java
  fineract-provider/src/main/java/org/apache/fineract/interoperation/service/InteropServiceImpl.java
  fineract-provider/src/main/java/org/apache/fineract/portfolio/savings/domain/SavingsAccount.java
  fineract-provider/src/main/java/org/apache/fineract/portfolio/savings/service/SavingsAccountWritePlatformServiceJpaRepositoryImpl.java
  fineract-provider/src/main/resources/sql/migrations/core_db/V352__interop_init.sql
Labels: stale

#1171 FINERACT-854 Removed string concatenated SQL in GroupReadPlatform
  fineract-provider/src/main/java/org/apache/fineract/infrastructure/core/service/SearchParameters.java
  fineract-provider/src/main/java/org/apache/fineract/infrastructure/security/utils/SQLBuilder.java
  fineract-provider/src/main/java/org/apache/fineract/portfolio/group/api/CentersApiResource.java
  fineract-provider/src/main/java/org/apache/fineract/portfolio/group/api/GroupsApiResource.java
  fineract-provider/src/main/java/org/apache/fineract/portfolio/group/service/GroupReadPlatformServiceImpl.java
Labels: stale

#1123 FINERACT-854 Removed string concatenated SQL from CenterReadPlatform
  fineract-provider/src/main/java/org/apache/fineract/portfolio/group/api/CentersApiResource.java
  fineract-provider/src/main/java/org/apache/fineract/portfolio/group/service/CenterReadPlatformServiceImpl.java
  fineract-provider/src/main/java/org/apache/fineract/portfolio/group/service/GroupReadPlatformServiceImpl.java
Labels: stale

#1292 FINERACT-1129: Gradle task to create release package
  README.md
  fineract-provider/build.gradle
  fineract-provider/gradle.properties
Labels: enhancement

#1298 FINERACT-1134: Backport FINERACT-1129 to release branch 1.4.0
  README.md
  fineract-provider/build.gradle
  fineract-provider/gradle.properties
Labels: enhancement

#1299 FINERACT-1129: create Gradle release task - fix source distribution
  README.md
  fineract-provider/build.gradle
Labels: bug
